* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2rem;
    line-height: 1.5;
}

:root {
    --color-1: #ffffff;
    --color-2: #022b59;

    --font-family-headers: Courier, Futura, monospace, serif;
    --font-family-text: Futura, sans-serif;

    --z-index-1: 1000;
    --z-index-2: 2000;
    --z-index-3: 3000;

    --transition-duration: 0.3s;
    --transition-ease: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: var(--font-family-headers), serif;
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
}

button {
    background-color: var(--color-2);
    color: var(--color-1);
    font-family: var(--font-family-headers), serif;
    font-weight: bold;
    font-size: large;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color var(--transition-duration) var(--transition-ease);
    margin: 1rem;

}

button:hover {
    filter: drop-shadow(0 0 1rem var(--color-2));
    box-shadow: 0 0 0.5rem var(--color-2);
    transition: filter var(--transition-duration) var(--transition-ease);
}

a {
    color: var(--color-2);
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-ease);
}

:focus {
    outline: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    font-weight: bold;
    filter: drop-shadow(0 0 1rem var(--color-2));
}

p {
    font-family: var(--font-family-text), sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

input {
    font-family: var(--font-family-text), sans-serif;
    font-size: medium;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-2);
    background-color: var(--color-1);
    color: var(--color-2);
}

input:focus {
    border-color: var(--color-2);
    box-shadow: 0 0 1rem var(--color-2);
    transition: box-shadow var(--transition-duration) var(--transition-ease);
}

input::placeholder {
    color: var(--color-2);
}


label {
    font-family: var(--font-family-text), sans-serif;
    font-size: large;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
}

.form-error {
    color: red;
    font-weight: bold;
    font-size: xx-small;

    /* make the text wrap */
    white-space: pre-wrap;
    word-break: break-all;

}

.hyper-link-text {
    text-decoration: underline;
    white-space: pre-wrap;
    word-break: break-all;
    font-weight: bold;
    transition: filter var(--transition-duration) var(--transition-ease);
}

.hyper-link-text:hover {
    filter: drop-shadow(0 0 1rem var(--color-2));
    transition: filter var(--transition-duration) var(--transition-ease);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-1: #022b59;
        --color-2: #ffffff;
    }
}

@media (max-width: 1264px) {
    button {
        font-size: medium;
        padding: 0.5rem 0.8rem;
        margin: 0.5rem;
    }

    * {
        letter-spacing: 0.1rem;
    }

    input {
        font-size: small;
        padding: 0.4rem;
    }

    p {
        font-size: small;
    }

    label {
        font-size: small;
    }
}

@media (max-width: 960px) {
    button {
        font-size: small;
        padding: 0.4rem 0.6rem;
        margin: 0.3rem;
    }
}